commonmining.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mosaicco.com/mining/common" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mosaicco.com/mining/common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mosaicco.com/mining/common">
      <s:element name="GetMines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="includeInactive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMinesResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusinessEntityAttributeValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusinessEntityAttributeValue" nillable="true" type="tns:BusinessEntityAttributeValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusinessEntityAttributeValue">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AliasName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="HierarchyID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOrder" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="HasDelays" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AttributeID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="AttributeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttributeValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAreas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="includeInactive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreasResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductionMines">
        <s:complexType />
      </s:element>
      <s:element name="GetProductionMinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductionMinesResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaAbbreviations">
        <s:complexType />
      </s:element>
      <s:element name="GetAreaAbbreviationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaAbbreviationsResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMineAbbreviations">
        <s:complexType />
      </s:element>
      <s:element name="GetMineAbbreviationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMineAbbreviationsResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMineResult" type="tns:MineData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MineData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActiveProduction" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CalcSplitConc" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxMgO" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="HasCatalogReserves" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasProspectIP" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasSyntheticHoles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasCoarseAndFinePebbleMinablilites" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseReducedProspectHoleMaterials" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseReducedProspectSplitMaterials" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductionDataByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productionStartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="productionEndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductionDataByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductionDataByMineResult" type="tns:ArrayOfProductionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductionData" nillable="true" type="tns:ProductionData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaterialName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fe" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Al" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Mg" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BPL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Tons" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCountiesByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountiesByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByMineResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActiveDraglinesByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveDraglinesByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveDraglinesByMineResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraglinesWithHolesEnteredByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraglinesWithHolesEnteredByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDraglinesWithHolesEnteredByMineResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDredgesWithHolesEnteredByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDredgesWithHolesEnteredByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDredgesWithHolesEnteredByMineResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveDredgesByMine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveDredgesByMineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveDredgesByMineResult" type="tns:ArrayOfBusinessEntityAttributeValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSampleIdSpec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="township" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="section" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="range" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="splitNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="holeLocation" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="redrilled" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="released" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSampleIdSpecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSampleIdSpecResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEquipmentLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="equipmentBusinessEntityId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="productionDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEquipmentLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEquipmentLocationResult" type="tns:EquipmentLocationData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EquipmentLocationData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EquipmentBusinessEntityId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="EquipmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hole1Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hole2Location" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Section1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Township1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Range1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Section2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Township2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Range2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Direction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatrixThickness" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OverburdenThickness" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProspectCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prospectCodeType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProspectCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProspectCodesResult" type="tns:ArrayOfProspectCodesDetailData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProspectCodesDetailData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProspectCodesDetailData" nillable="true" type="tns:ProspectCodesDetailData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProspectCodesDetailData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PROSP_CODE_TYPE_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROSP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROSP_CODE_DESC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProspectCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prospectCodeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prospectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProspectCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProspectCodeResult" type="tns:ProspectCodesDetailData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProspectCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prospectCodeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prospectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProspectCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="SaveProspectCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ProspectCodesDetailData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveProspectCodeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMines" />
  </wsdl:message>
  <wsdl:message name="GetMinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreasSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreas" />
  </wsdl:message>
  <wsdl:message name="GetAreasSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreasResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductionMinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductionMines" />
  </wsdl:message>
  <wsdl:message name="GetProductionMinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductionMinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaAbbreviationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaAbbreviations" />
  </wsdl:message>
  <wsdl:message name="GetAreaAbbreviationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaAbbreviationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMineAbbreviationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMineAbbreviations" />
  </wsdl:message>
  <wsdl:message name="GetMineAbbreviationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMineAbbreviationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetMine" />
  </wsdl:message>
  <wsdl:message name="GetMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductionDataByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductionDataByMine" />
  </wsdl:message>
  <wsdl:message name="GetProductionDataByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductionDataByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountiesByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountiesByMine" />
  </wsdl:message>
  <wsdl:message name="GetCountiesByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountiesByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveDraglinesByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveDraglinesByMine" />
  </wsdl:message>
  <wsdl:message name="GetActiveDraglinesByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveDraglinesByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetDraglinesWithHolesEnteredByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetDraglinesWithHolesEnteredByMine" />
  </wsdl:message>
  <wsdl:message name="GetDraglinesWithHolesEnteredByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetDraglinesWithHolesEnteredByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetDredgesWithHolesEnteredByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetDredgesWithHolesEnteredByMine" />
  </wsdl:message>
  <wsdl:message name="GetDredgesWithHolesEnteredByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetDredgesWithHolesEnteredByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveDredgesByMineSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveDredgesByMine" />
  </wsdl:message>
  <wsdl:message name="GetActiveDredgesByMineSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveDredgesByMineResponse" />
  </wsdl:message>
  <wsdl:message name="GetSampleIdSpecSoapIn">
    <wsdl:part name="parameters" element="tns:GetSampleIdSpec" />
  </wsdl:message>
  <wsdl:message name="GetSampleIdSpecSoapOut">
    <wsdl:part name="parameters" element="tns:GetSampleIdSpecResponse" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetEquipmentLocation" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetEquipmentLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetProspectCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProspectCodes" />
  </wsdl:message>
  <wsdl:message name="GetProspectCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProspectCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProspectCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProspectCode" />
  </wsdl:message>
  <wsdl:message name="GetProspectCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProspectCodeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProspectCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProspectCode" />
  </wsdl:message>
  <wsdl:message name="DeleteProspectCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProspectCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveProspectCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveProspectCode" />
  </wsdl:message>
  <wsdl:message name="SaveProspectCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveProspectCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonMiningSoap">
    <wsdl:operation name="GetMines">
      <wsdl:input message="tns:GetMinesSoapIn" />
      <wsdl:output message="tns:GetMinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreas">
      <wsdl:input message="tns:GetAreasSoapIn" />
      <wsdl:output message="tns:GetAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductionMines">
      <wsdl:input message="tns:GetProductionMinesSoapIn" />
      <wsdl:output message="tns:GetProductionMinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaAbbreviations">
      <wsdl:input message="tns:GetAreaAbbreviationsSoapIn" />
      <wsdl:output message="tns:GetAreaAbbreviationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMineAbbreviations">
      <wsdl:input message="tns:GetMineAbbreviationsSoapIn" />
      <wsdl:output message="tns:GetMineAbbreviationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMine">
      <wsdl:input message="tns:GetMineSoapIn" />
      <wsdl:output message="tns:GetMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductionDataByMine">
      <wsdl:input message="tns:GetProductionDataByMineSoapIn" />
      <wsdl:output message="tns:GetProductionDataByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountiesByMine">
      <wsdl:input message="tns:GetCountiesByMineSoapIn" />
      <wsdl:output message="tns:GetCountiesByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveDraglinesByMine">
      <wsdl:input message="tns:GetActiveDraglinesByMineSoapIn" />
      <wsdl:output message="tns:GetActiveDraglinesByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDraglinesWithHolesEnteredByMine">
      <wsdl:input message="tns:GetDraglinesWithHolesEnteredByMineSoapIn" />
      <wsdl:output message="tns:GetDraglinesWithHolesEnteredByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDredgesWithHolesEnteredByMine">
      <wsdl:input message="tns:GetDredgesWithHolesEnteredByMineSoapIn" />
      <wsdl:output message="tns:GetDredgesWithHolesEnteredByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveDredgesByMine">
      <wsdl:input message="tns:GetActiveDredgesByMineSoapIn" />
      <wsdl:output message="tns:GetActiveDredgesByMineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSampleIdSpec">
      <wsdl:input message="tns:GetSampleIdSpecSoapIn" />
      <wsdl:output message="tns:GetSampleIdSpecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentLocation">
      <wsdl:input message="tns:GetEquipmentLocationSoapIn" />
      <wsdl:output message="tns:GetEquipmentLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProspectCodes">
      <wsdl:input message="tns:GetProspectCodesSoapIn" />
      <wsdl:output message="tns:GetProspectCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProspectCode">
      <wsdl:input message="tns:GetProspectCodeSoapIn" />
      <wsdl:output message="tns:GetProspectCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProspectCode">
      <wsdl:input message="tns:DeleteProspectCodeSoapIn" />
      <wsdl:output message="tns:DeleteProspectCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveProspectCode">
      <wsdl:input message="tns:SaveProspectCodeSoapIn" />
      <wsdl:output message="tns:SaveProspectCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonMiningSoap" type="tns:CommonMiningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMines">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetMines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreas">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionMines">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetProductionMines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaAbbreviations">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetAreaAbbreviations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMineAbbreviations">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetMineAbbreviations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionDataByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetProductionDataByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountiesByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetCountiesByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDraglinesByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetActiveDraglinesByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraglinesWithHolesEnteredByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetDraglinesWithHolesEnteredByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDredgesWithHolesEnteredByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetDredgesWithHolesEnteredByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDredgesByMine">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetActiveDredgesByMine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleIdSpec">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetSampleIdSpec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentLocation">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetEquipmentLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCodes">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetProspectCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCode">
      <soap:operation soapAction="http://mosaicco.com/mining/common/GetProspectCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspectCode">
      <soap:operation soapAction="http://mosaicco.com/mining/common/DeleteProspectCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectCode">
      <soap:operation soapAction="http://mosaicco.com/mining/common/SaveProspectCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonMiningSoap12" type="tns:CommonMiningSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMines">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetMines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreas">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionMines">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetProductionMines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaAbbreviations">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetAreaAbbreviations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMineAbbreviations">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetMineAbbreviations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionDataByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetProductionDataByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountiesByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetCountiesByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDraglinesByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetActiveDraglinesByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraglinesWithHolesEnteredByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetDraglinesWithHolesEnteredByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDredgesWithHolesEnteredByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetDredgesWithHolesEnteredByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDredgesByMine">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetActiveDredgesByMine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSampleIdSpec">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetSampleIdSpec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentLocation">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetEquipmentLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCodes">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetProspectCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCode">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/GetProspectCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspectCode">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/DeleteProspectCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectCode">
      <soap12:operation soapAction="http://mosaicco.com/mining/common/SaveProspectCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonMining">
    <wsdl:port name="CommonMiningSoap" binding="tns:CommonMiningSoap">
      <soap:address location="http://phosphateops.mosaicco.com/Mining/Common/CommonMining.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonMiningSoap12" binding="tns:CommonMiningSoap12">
      <soap12:address location="http://phosphateops.mosaicco.com/Mining/Common/CommonMining.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>